.button {
  background: linear-gradient(45deg, variables.$orange, variables.$pink);
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-wrap: nowrap;
}

.button:disabled {
  background: variables.$gray;
}
