.container {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  gap: 12px;
}

.header {
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 58.9%, #000000 100%);
  }
}

.image {
  width: 100%;
  height: 293px;
  object-fit: cover;
  object-position: top center;
}

.button {
  position: absolute;
  font-size: 13px;
  padding: 6.5px 94px 7.5px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: variables.$dark-gray;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: variables.$white;
    margin-bottom: 24px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  margin-bottom: 7px;

  img {
    width: 12px;
    height: auto;
  }

  .target {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: variables.$orange;
    flex: 1;
  }

  .date {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: variables.$white;
  }
}

.progress {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  overflow: hidden;
  appearance: none;

  &::-webkit-progress-bar {
    background: #ffffff;
  }

  &::-webkit-progress-value {
    border-radius: 1px;
    background: variables.$orange;
    transition: width 0.5s ease;
  }

  &::-moz-progress-bar {
    border-radius: 1px;
    background: variables.$orange;
    transition: width 0.5s ease;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 158px;
  }

  .image {
    height: 206px;
  }

  .button {
    padding: 2px 48px 3px;
    bottom: 8px;
  }

  .content {
    h4 {
      font-size: 12px;
    }

    h3 {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
