.idolListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;

  &:hover {
    background-color: variables.$dark-gray;
  }
  @media screen and (max-width: 1199px) {
    padding: 8px 10px;
  }
  @media screen and (max-width: 767px) {
    padding: 5px 8px;
  }
}

.idolFirstSection {
  display: flex;
  align-items: center;
}

.idolGandN {
  display: flex;
  gap: 4px;
  @media screen and (max-width: 1199px) {
    gap: 3px;
  }
}

.idolGandNandV {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  @media screen and (max-width: 1199px) {
    margin-left: 8px;
  }
  @media screen and (max-width: 767px) {
    margin-left: 6px;
  }
}

.idolVote {
  font-size: 14px;
  color: variables.$light-gray;
  @media screen and (max-width: 1199px) {
    font-size: 12px;
  }
  @media screen and (max-width: 767px) {
    font-size: 10px;
  }
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioInput {
  display: none;
}

.radioIcon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1199px) {
    width: 20px;
    height: 20px;
    margin-left: 4px;
  }
  @media screen and (max-width: 767px) {
    width: 18px;
    height: 18px;
    margin-left: 3px;
  }
}

.radioIcon img {
  width: 100%;
  height: auto;
}
