.idolListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 8px;
  margin-bottom: 8px;
  &:hover {
    background-color: variables.$dark-gray;
  }
}

.idolFirstSection {
  display: flex;
  align-items: center;
  gap: 9px;
}

.idolGandN {
  display: flex;
  gap: 4px;
}

.idolGandNandV {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 4px;
}

.idolVote {
  font-size: 14px;
  color: variables.$light-gray;
  font-weight: 400;
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioInput {
  display: none;
}

.radioIcon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1199px) {
    margin-left: 4px;
  }
  @media screen and (max-width: 767px) {
    margin-left: 3px;
  }

  img {
    width: 100%;
    height: auto;
  }
}
