.voteModal {
  max-height: 850px;
  width: 500px;
  overflow-y: auto;
  padding: 15px 20px;

  @media (max-width: 768px) {
    width: 399px;
    max-height: 650px;
  }
  @media (max-width: 400px) {
    width: 300px;
    max-height: 600px;
  }
}

.headerText {
  margin-bottom: 4px;
  margin-left: 5px;
  font-size: 20px;
}

.voteButton {
  padding: 10px 30px;
  font-size: 16px;
  @media (max-width: 768px) {
    padding: 9px 25px;
    font-size: 14px;
  }
  @media (max-width: 400px) {
    padding: 8px 22px;
    font-size: 13px;
  }
}

.modalList {
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 0;
}

.footerText {
  margin-top: 10px;
  color: variables.$white;
  display: flex;
}

.alertText {
  color: variables.$pink;
}
