.voteModal {
  padding: 15px 20px;

  @media (max-width: 767px) {
    width: 100%;
    border-radius: 0;
    height: 100%;
  }
}

.headerText {
  font-size: 20px;
  @media (max-width: 1199px) {
    font-size: 17px;
  }
  @media (max-width: 767px) {
    font-size: 25px;
  }
}

.voteButton {
  padding: 8px 214px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;

  @media screen and (max-width: 767px) {
    width: 100%;
    padding: 8px;
  }
}

.modalList {
  max-height: 514px;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  margin-bottom: 20px;
  padding: 0;
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    max-height: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.footerText {
  margin-top: 10px;
  color: variables.$white;
  display: flex;
}

.alertText {
  color: variables.$orange;
}

.customModalContentStyle {
  @media (max-width: 767px) {
    height: calc(100vh - 20vh);
  }
}

.customHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.closeButton {
  position: absolute;
  left: 16px;
  background: none;
  cursor: pointer;
}
.closeButtonIcon {
  width: 25px;
}
.headerText {
  font-size: 17px;
  color: variables.$white;
  text-align: center;
  flex-grow: 1;
}
