.chartButton {
  display: flex;
  height: 42px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: variables.$black;
  border: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.17px;
  color: variables.$white;
  &.current {
    background-color: variables.$gray;
    color: variables.$white;
    border-bottom: 1.5px solid variables.$white;
  }
  &:hover {
    background-color: variables.$dark-gray;
  }
}
