.form {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 600px;
  margin: 80px auto;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reset {
  background: #bbbbbb;
  padding: 8px 20px;
}

.submit {
  padding: 8px 20px;
}
// PC: 1200px 이상- Tablet: 768px 이상 ~ 1199px 이하- Mobile: 375px 이상 ~ 767px 이하
