.form {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 600px;
  margin: 100px auto;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reset {
  background: #bbbbbb;
  padding: 8px 20px;
}

.submit {
  padding: 8px 20px;
}

// tablet
@media screen and (max-width: 1199px) {
  .form {
    margin: 120px auto;
  }
}

// mobile
@media screen and (max-width: 767px) {
  .form {
    width: 400px;
    margin: 120px auto;
  }
}
