.select {
  font-size: 16px;
  color: variables.$white;
  line-height: 24px;

  padding: 10px 16px;
  border-radius: 10px;
  border-color: variables.$white;
  border-style: solid;
  border-width: 1px;
  background: none;

  width: 33%;

  &:focus {
    border-color: variables.$pink;
    outline: none;
  }
}

.placeholder {
  color: variables.$light-gray;
}

.option {
  background: variables.$black;
}

@media screen and (max-width: 767px) {
  .select {
    font-size: 14px;
    line-height: 22px;
  }
}
