.idolProfileWrapper {
  border-radius: 70%;
  border: 1px solid variables.$orange;
  padding: 4px;
  position: relative;

  &.selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: variables.$pink;
    z-index: 1;
  }
}

.idolProfile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
