.voteButton {
  padding: 10px 30px;
  font-size: 16px;
  @media (max-width: 768px) {
    padding: 9px 25px;
    font-size: 14px;
  }
  @media (max-width: 400px) {
    padding: 8px 22px;
    font-size: 13px;
  }
}
