.allContain {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 400px) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

//첫번째 페이지 스타일

.topContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 500px;

  @media (max-width: 768px) {
    margin-bottom: 480px;
  }

  @media (max-width: 400px) {
    margin-bottom: 430px;
  }
}

.titleContain1 {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0px 0px 0px;
  gap: 8px;
  position: absolute;
  top: -120px;

  @media (max-width: 768px) {
    top: -110px;
    gap: 7px;
    margin: 190px 0px 0px 0px;
  }

  @media (max-width: 400px) {
    top: -100px;
    gap: 6px;
    margin: 180px 0px 0px 0px;
  }
}

.title {
  color: variables.$white;
  font-size: 35px;
  @media (max-width: 768px) {
    font-size: 31px;
  }

  @media (max-width: 400px) {
    font-size: 15px;
  }
}

.title2 {
  color: variables.$orange;
  font-size: 35px;
  @media (max-width: 768px) {
    font-size: 31px;
  }

  @media (max-width: 400px) {
    font-size: 15px;
  }
}

.smtitleContain {
  display: flex;
}

.topPhoto {
  z-index: 2;
  top: 200px;
  width: 900px;
  height: 700px;
  flex-shrink: 0;
  opacity: 45%;
  position: relative;

  @media (max-width: 768px) {
    width: 600px;
    height: 450px;
    top: 230px;
  }

  @media (max-width: 400px) {
    width: 300px;
    height: 270px;
    top: 200px;
  }
}

.logo {
  margin-top: 40px;
  width: 450px;

  @media (max-width: 768px) {
    margin-top: 35px;
    width: 400px;
  }
  @media (max-width: 400px) {
    margin-top: 10px;
    width: 150px;
  }
}

.buttonContain {
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 900px;

  @media (max-width: 768px) {
    top: 700px;
  }
  @media (max-width: 400px) {
    top: 470px;
  }
}

//아래 페이지 스타일

.behindContain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;

  @media (max-width: 768px) {
    top: 250px;
  }
  @media (max-width: 400px) {
    top: 230px;
  }
}

.backImg {
  width: 100%;
  height: 100%;
  z-index: 100;
  border-radius: 60%;
}

.photoContain {
  z-index: 2;
  box-sizing: border-box;
  height: 800px;
  background-clip: padding-box;
  position: relative;

  background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0) 0%,
      rgba(104, 121, 251, 0.5) 100px,
      rgba(0, 0, 0, 0.8) 100px
    ),
    linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px),
    linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px),
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px);

  -webkit-mask:
    radial-gradient(
      rectangle at 50% 50%,
      rgba(104, 121, 251, 0.2) 90px,
      rgba(255, 255, 255, 0) 90px
    ),
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  mask:
    radial-gradient(
      circle at 50% 50%,
      rgba(154, 154, 154, 0.3) 2px,
      rgba(255, 255, 255, 0) 400px
    ),
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  mask-composite: exclude;

  @media (max-width: 768px) {
    height: 600px;

    background: radial-gradient(
        circle at 50% 50%,
        rgba(255, 255, 255, 0) 0%,
        rgba(104, 121, 251, 0.5) 100px,
        rgba(0, 0, 0, 0.8) 100px
      ),
      linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px),
      linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px),
      linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px);

    -webkit-mask:
      radial-gradient(
        rectangle at 50% 50%,
        rgba(104, 121, 251, 0.2) 90px,
        rgba(255, 255, 255, 0) 90px
      ),
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);

    mask:
      radial-gradient(
        circle at 50% 50%,
        rgba(154, 154, 154, 0.3) 2px,
        rgba(255, 255, 255, 0) 300px
      ),
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);

    mask-composite: exclude;
  }

  @media (max-width: 400px) {
    height: 400px;
    background: radial-gradient(
        circle at 50% 50%,
        rgba(255, 255, 255, 0) 0%,
        rgba(104, 121, 251, 0.5) 100px,
        rgba(0, 0, 0, 0.8) 100px
      ),
      linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px),
      linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px),
      linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 100px);

    -webkit-mask:
      radial-gradient(
        rectangle at 50% 50%,
        rgba(104, 121, 251, 0.2) 90px,
        rgba(255, 255, 255, 0) 90px
      ),
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);

    mask:
      radial-gradient(
        circle at 50% 50%,
        rgba(154, 154, 154, 0.3) 2px,
        rgba(255, 255, 255, 0) 210px
      ),
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);

    mask-composite: exclude;
  }
}

.subTitle {
  color: #d2c030;
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 15px;
  }

  @media (max-width: 400px) {
    font-size: 10px;
  }
}

.titleContain2 {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  @media (max-width: 768px) {
    gap: 7px;
  }

  @media (max-width: 400px) {
    gap: 6px;
    align-items: flex-start;
  }
}
.titleContain3 {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  @media (max-width: 768px) {
    gap: 7px;
  }

  @media (max-width: 400px) {
    gap: 6px;
    align-items: flex-end;
  }
}
.frontContain1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;

  @media (max-width: 400px) {
    align-items: flex-start;
  }
}

.frontContain2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;

  @media (max-width: 400px) {
    align-items: flex-end;
  }
}

.homeComponent {
  margin-top: 90px;
  z-index: 3;
  opacity: 100%;
  width: 300px;
  height: 100%;
  @media (max-width: 768px) {
    margin-top: 70px;
    width: 280px;
    height: 100%;
  }

  @media (max-width: 400px) {
    margin-top: 50px;
    width: 250px;
    height: 100%;
  }
}
//선 코드
.bottomContain {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.longLine {
  position: absolute;
  z-index: 1;
  width: 220px;
  @media (max-width: 768px) {
    width: 190px;
  }
  @media (max-width: 400px) {
    width: 100px;
  }
}
