.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px auto;
  position: fixed;
  z-index: 100;
  inset: 0 0 auto 0;
  height: 80px;
  background: linear-gradient(
    to bottom,
    variables.$black 90%,
    rgba(2, 0, 14, 0.7) 95%,
    rgba(2, 0, 14, 0) 100%
  );
}

.user {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 29px 15px;
  }
  .logo {
    height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 400px;
    height: 44px;
    padding: 18px 15px 6px 15px;
  }
  .logo {
    height: 20px;
  }
}
